#password, #email {
    transition: 500ms;
}

#password:hover, #email:hover {
    border: 2px solid #e3df5b;
}

#password:focus, #email:focus {
    border: 2px solid darkorange;
}

.input-field {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    padding:4px 9px;
    height: 44px;
    font-size: 18px;
    color: #4a4a4a;
    line-height: 1.5;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.input-field:focus {
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.submit-button {
    background-color: #4a90e2;
    color: #ffffff;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 52px;
}

.submit-button:hover {
    background-color: #357abd;
}

.submit-button:focus {
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

option {
    padding: 10px;
    cursor: pointer;
}

option:hover {
    background-color: black;
}