# Виртуальное окружение
venv
.venv
# Папки кэша
**/.idea

**/__pycache__/
backend/__pycache__
backend/__pycache__/*
backend/system/__pycache__

# Файлы для личного пользования
backend/system/secret_local.py

