.navbar {
    width: 280px;
    background-color: var(--dark-blue-color);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 24px;
    height: 100vh
}

@media (max-width: 600px) {
    .navbar {
        width: 100vw;
        height: fit-content;
        padding: 0;
    }
}

@media (min-width: 600px) {
    .logo {
        margin-top: 20px;
    }
}

.organization {
    background-color: #0000001A;
    color: white;
    padding: 12px;
    margin-top: 24px;
}

.organization .image {
    padding: 8px;
    background: #F0F3F600;
    width: 30px;
    height: 24px;
}

.darkC {
    background-color: var(--dark-blue-color);
}